@import url('https//fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

hr {
  width: 100%;
  height: 1px;
  border-width: 0;
  color: black;
  background-color: black;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.modal {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px 50px;
  width: 400px;
  max-width: 100%;
  text-align: center;
}

.modal-header {
  display: block;
  height: 30px;
}

.modal-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal h2 {
  margin: 0;
}

.flex {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 70%;
  /* align-items: center; */
}

.list-items {
  display: flex;
  justify-content: flex-start;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

#submit {
  border-radius: 25px;
}